#chat {
  flex: 1;
}

#chat .header-container {
  display: flex;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  background-color: #1E2428;
  border-left: 1px solid #394045;

  cursor: pointer;
}

#chat .header-container img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#chat .header-container .header-people{
  display: flex;
  align-items: center;
}

#chat .header-container .header-option{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#chat .header-container .header-option icon:nth-child(1){
 margin-left: 200px;
}

#chat .header-container .header-people .info{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

#chat .header-container .header-people .info strong{
 font-size: 16px;
}
#chat .header-container .header-people .info span{
 font-size: 13px;
}

#chat .content-container {
  background-image: url(../../assets/background.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  overflow: scroll;
}

#chat .content-container .balon {
  height: 15px;
  background-color: #054740;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  min-height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


#chat .content-container .balon p{ 
  font-size: 14px;
  margin-right: 30px;
}

#chat .content-container .balon .status { 
  width: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

#chat .content-container .balon .status .icon-balon:hover { 
 cursor: pointer;
}

#chat .content-container .balon .status span{ 
  font-size: 11px;
  align-self: flex-end;
}

#chat .footer-container {
  width: 48.2%;
  height: 40px;
  position: absolute;
  bottom: 0;

  background-color: #1E2428;
  border-left: 1px solid #394045;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#chat .footer-container .icons-media {
 display: flex;
 flex: 1;
 justify-content: space-around;
 cursor: pointer;
}

#chat .footer-container .mic {
 flex: 1;
 cursor: pointer;
}
#chat .footer-container input {
  width: 75%;
  height: 42px;
  padding: 0px 32px;
  border-radius: 15px;
  border: none;
  background-color: #323739;
  color: #DDD;

  font-size: 16px;
}
#chat .footer-container input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#chat-none {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #262d31;
  padding-top: 120px;
}
#chat-none img {
  height: 700px;
  width: 400px;
}
#chat-none .text-container h2 {
 margin-top: 40px;
 margin-bottom: 20px;
 text-align: center;
 font-weight: 400;
 font-size: 30px;
}
#chat-none .text-container p {
 line-height: 25px;
 text-align: center;
 font-size: 14px;
}

@media(max-width: 1366px) {
  #chat .footer-container {
    width: 65%;
  }
  #chat-none img {
    height: 600px;
    width: 330px;
  }
}
