* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body, div {
  height: 100%;
}

body {
  background-color: #090e11;
  color: #b1b3b5;
  font: 400 18px Roboto, sans-serif;
}

#page {
  display: flex;
  justify-content: center;
}

.page-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 20px 250px;
}

@media (max-width: 1366px) {
  .page-container {
    padding: 0px;
  }
}

::-webkit-scrollbar-track {
  background-color: #131c21;
}
::-webkit-scrollbar {
  width: 6px;
  background: #394045;
}
::-webkit-scrollbar-thumb {
  background: #394045;
}

.MuiMenu-paper	{
  height: auto;
  
}

.MuiMenu-list {
  background-color: #2a2f32;
  color: #ddd;
}